
@{
    ViewBag.Title = "Work";
}

<div id="work-container" class="col-md-12">
    <div class="work-example, col-md-6">
        <img src="http://tinyurl.com/qeemlqf" height="250" width="250"/>
        <p>Work Sample 1</p>
    </div>
    <div class="work-example, col-md-6">
        <img src="http://tinyurl.com/qeemlqf" height="250" width="250" />
        <p>Work Sample 2</p>
    </div>
    <div class="work-example, col-md-6">
        <img src="http://tinyurl.com/qeemlqf" height="250" width="250" />
        <p>Work Sample 3</p>
    </div>
    <div class="work-example, col-md-6">
        <img src="http://tinyurl.com/qeemlqf" height="250" width="250" />
        <p>Work Sample 4</p>
    </div>
</div>